
*{
  list-style:none;
}
#nav-content{
  background: white;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

nav-options{
  display: flex;
  justify-content: space-between;
  /*margin: 13px;*/
  padding-left: 43%;

}
div .main-nav{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.main-nav ul{
margin: 0;
padding: 0;
width: 38em;
display: flex;
justify-content: space-around;
background-color: white;
text-decoration: underline;
}

.headings{
   display:flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   font-family: "Merriweather", serif;
   font-family: "Roboto", sans-serif;
}

body{
  background: #F2F1E8;
}
.top-row{
  display:flex;
}

.bottom-row{
  display: flex;
}


div img{
  width: 100%;
  z-index: 1
}
.title h3{
  background: #20241C;
  color: white;
  width: 96px;
}

footer{
  background: black;
  color: white;
}
